@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.orangeColor{
  color: #F36E39;
}
.bgOrangeColor{
  background-color: #F36E39;
}
.borderOrange{
  border-color: #F36E39;
}